<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT703 Task 2</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h2>Login</h2>

    {% if error %}
        <h3 style="color: #fa709a;">{{ error }}</h3>
    {% endif %}

    <div class="section-card">
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <button type="submit">Login</button>
        </form>
    </div>

    <a href="/register">Create New Account</a>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>